.attribute-container{
    background-color: #eeeeee;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 6px;
    width: 165px;
}

.spacer{
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 5px;
}