<div class="dimensions">

    <div class="editor">

        <mat-tab-group [(selectedIndex)]="matTabIndex" mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Choose Template">
                
                <div class="column">
                    <button mat-raised-button color="primary" (click)="loadFromFile();" matTooltip="Upload a pre-existing character" matTooltipPosition="right">Load From File</button>
                    <button mat-raised-button color="primary" (click)="loadTemplate('5e')">Dnd 5e Template</button>
                    <button mat-raised-button color="primary" (click)="loadTemplate('characterMin')">Blank Template</button>
                </div>

            </mat-tab>

            <!-- DATA EDITOR TAB -->
            <mat-tab label="Edit Rolls" [disabled]="!templateSelected">
                <app-editor-tab></app-editor-tab>
            </mat-tab>

            <mat-tab label="Review" [disabled]="!templateSelected">
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" [(ngModel)]="first" (ngModelChange)="updateCharacterName();"></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" [(ngModel)]="last" (ngModelChange)="updateCharacterName();"></td>
                    </tr>
                </table>
                <button mat-raised-button color="primary" (click)="downloadCharacter()" [disabled]="!nameValid">Download Character</button>
                <p *ngIf="!nameValid">First and last name is required.</p>
            </mat-tab>
            
        </mat-tab-group>

    </div>

    <div>
        <app-character-overview></app-character-overview>
    </div>

</div>
<input type="file" id="fileInput"/>