
<button id="close-btn" mat-raised-button color="primary" (click)="exit();">Close</button>

<div>
    Level: <input type="number" max="20" min="1" value="1" 
    [(ngModel)]="characterLevel"
    (ngModelChange)="updateCounter('level', $event, 20, 1);" >
</div>
<div>
    Armor Class: <input type="number" max="100" min="0" value="10" 
    [(ngModel)]="armorClass"
    (ngModelChange)="updateRoll('armorclass', $event)">
</div>
<div>
    Spell Casting Ability: 
    <select name="spellSelect" id="spell-select" [(ngModel)]="spellModifier" (ngModelChange)="setSpellModifier($event)">
        <option ngValue="int">intelligence</option>
        <option ngValue="wis">wisdom</option>
        <option ngValue="cha">charisma</option>
    </select>
</div>

<h2>Attributes</h2>
<div class="attribute-group">
    <app-attribute
        attributeName="strength"
        [skills]="['athletics']"
    ></app-attribute>

    <app-attribute
        attributeName="dexterity"
        [skills]="['acrobatics', 'sleight_of_hand', 'stealth']"
    ></app-attribute>

    <app-attribute
        attributeName="constitution"
        [skills]="[]"
    ></app-attribute>

        <app-attribute
        attributeName="intelligence"
        [skills]="['arcana', 'history', 'investigation', 'nature', 'religion']"
    ></app-attribute>

    <app-attribute
        attributeName="wisdom"
        [skills]="['animal_handling', 'insight', 'medicine', 'perception', 'survival']"
    ></app-attribute>

    <app-attribute
        attributeName="charisma"
        [skills]="['deception', 'intimidation', 'performance', 'persuasion']"
    ></app-attribute>
</div>
