mat-icon {
    transform: scale(0.75);
}

.box{
    display: flex;
    align-items: center;

    div {
        border-bottom: 1px solid black;
        margin: 1px;
        padding: 2px;
    }
}

.attribute-group{
    display: flex;
}